@import './variables';

//Width column
@function col($columns, $total) {
    @return (100% / $total) * $columns;
  }

//Mixins

@mixin media($types...) {
  @each $type in $types {
    @if $type == mobile {
      @media only screen and (min-width: $mobile-screen + 1) and (max-width: $small-screen) {
        @content;
      }
    }

    @if $type == tablet {
      @media only screen and (min-width: $small-screen + 1) {
        @content;
      }
    }

    @if $type == desktop {
      @media only screen and (min-width: $medium-screen + 1) {
        @content;
      }
    }
  }
}

/* Center and max-width the content */
.AMIPage {
  float: unset !important; 
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 328px;
    padding: 0;
    
    @include media(tablet){
      max-width: 656px;
    }
    @include media(desktop){
      max-width:1184px;
      width:100%;
    }
}

.row {
    margin-left: auto;
    margin-right: auto;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
