.order{
    header{
        width: -webkit-fill-available;
        background-color: $primary-color;
        height: 70px;
        text-align: center;
        margin-bottom: 40px;
        img{
            width: auto;
            height: 70px;
        }
    }
    .side{
        display: flex;
    }
    .fifty{
        width: 50%;
        margin-right: 50px;
    }

}
.total{
    width: 50%
}
.tab-content>.active{
    display: flex !important;
    flex-wrap: wrap !important;
}