.order{
    header{
        width: -webkit-fill-available;
        background-color: $primary-color;
        height: 70px;
        text-align: center;
        margin-bottom: 40px;
        img{
            width: auto;
            height: 70px;
        }
    }
    .side{
        display: flex;
    }
    .fifty{
        width: 50%;
        margin-right: 50px;
    }

}
.total{
    width: 50%;
    text-align: center;
    border: 1px solid $second-color;
    padding: 10px;
    table{
        width: 100%;
        h3{
            font-weight: 300;
            font-size: 24px;
        }
        th{
            font-weight: 500;
        }
        td{
            button{
                border-radius: 20px;
                border: none;
                padding: 10px;
                background-color: $third-color;
                color: white;
            }
        }
    }
}
.tab-content>.active{
    display: flex !important;
    flex-wrap: wrap !important;
}